# Please rename file to .env and replace with your local information

PORT=3000
CLIENT_ORIGIN=http://localhost:5173
DATABASE_URL=DATABASE_URL=postgresql://postgres.zoickpjxbedtaxerlmhk:[PASSWORD-HERE]@aws-1-us-east-2.pooler.supabase.com:5432/postgres
